.App{
  min-height: 100vh;
  background-image: linear-gradient(to top, #330867 0%, #30cfd0 100%);
}

.search-form{
min-height: 10vh;
display: flex;
justify-content: center;
align-items: center;

}

.search-bar{
  width: 50%;
  border: none;
  padding: 10px;
  border-radius: 10px 0px 0px 10px;
}

.search-button{
  background: rgb(0, 119, 255);
  border: none;
  border-radius: 0px 10px 10px 0px;
  padding:10px 30px;
  color: white;
}

.recipes{
  
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.each-recipe{
  border: 5px solid rgb(0, 119, 255);
  text-align: center;
  min-height: 10vh;
  width: 50vh;
  justify-content: center;
  align-items: center;
  background-color: #b3b3b3;
  border-radius: 20px;
  padding-top: 10px;
}